In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # 컬러맵 사용을 위해 필요할 수 있음

# ... (데이터 생성 부분은 동일) ...
columns = [
    ('남성', '10~20대'), ('남성', '30~40대'), ('남성', '50대 이상'),
    ('여성', '10~20대'), ('여성', '30~40대'), ('여성', '50대 이상'),
]
multi_columns = pd.MultiIndex.from_tuples(columns)
index = ['강남구', '동작구']
data = [
    [338676, 67485, 13931, 454555, 73032, 14203],
    [103083, 20279, 3302, 76345, 22015, 3303]
]
df = pd.DataFrame(data, index=index, columns=multi_columns)

# -------------------------------------------------------
# [수정된 부분] 모든 스타일을 하나로 연결(Chaining)
# -------------------------------------------------------
styled_df = df.style \
    .format('{:,}') \
    .set_table_styles([
        {'selector': 'th', 'props': [('text-align', 'center'), ('vertical-align', 'middle')]},
        {'selector': 'td', 'props': [('text-align', 'center')]}
    ]) \
.set_properties(subset=[('남성', '10~20대')], **{'background-color': '#887182'}) \
.set_properties(subset=[('남성', '30~40대')], **{'background-color': '#887182'}) \
.set_properties(subset=[('남성', '50대 이상')], **{'background-color': '#887182'}) \
.set_properties(subset=[('여성', '10~20대')], **{'background-color': '#887182'}) \
.set_properties(subset=[('여성', '30~40대')], **{'background-color': '#887182'}) \
.set_properties(subset=[('여성', '50대 이상')], **{'background-color': '#887182'})

# 출력
styled_df

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # 컬러맵 사용을 위해 필요할 수 있음

# ... (데이터 생성 부분은 동일) ...
columns = [
    ('00~06시', '10~20대'), ('00~06시', '30~40대'), ('00~06시', '50대 이상'),
    ('06~11시', '10~20대'), ('06~11시', '30~40대'), ('06~11시', '50대 이상'),
]
multi_columns = pd.MultiIndex.from_tuples(columns)
index = ['강남구', '동작구']
data = [
    [338676, 67485, 13931, 454555, 73032, 14203],
    [103083, 20279, 3302, 76345, 22015, 3303]
]
df = pd.DataFrame(data, index=index, columns=multi_columns)

# -------------------------------------------------------
# [수정된 부분] 모든 스타일을 하나로 연결(Chaining)
# -------------------------------------------------------
styled_df = df.style \
    .format('{:,}') \
    .set_table_styles([
        {'selector': 'th', 'props': [('text-align', 'center'), ('vertical-align', 'middle')]},
        {'selector': 'td', 'props': [('text-align', 'center')]}
    ]) \
.set_properties(subset=[('00~06시', '10~20대')], **{'background-color': '#887182'}) \
.set_properties(subset=[('00~06시', '30~40대')], **{'background-color': '#887182'}) \
.set_properties(subset=[('00~06시', '50대 이상')], **{'background-color': '#887182'}) \
.set_properties(subset=[('06~11시', '10~20대')], **{'background-color': '#887182'}) \
.set_properties(subset=[('06~11시', '30~40대')], **{'background-color': '#887182'}) \
.set_properties(subset=[('06~11시', '50대 이상')], **{'background-color': '#887182'})

# 출력
styled_df