# 서울시 상권분석서비스 직장인구 행정동

- URL: https://data.seoul.go.kr/dataList/OA-22184/S/1/datasetView.do

In [1]:
import os
import dotenv
import requests
import pandas as pd


dotenv.load_dotenv()

# .env 파일에 서울 열린데이터 광장 API 키를 넣어주세요
SEOUL_DATA_OPEN_API_KEY = os.getenv("SEOUL_DATA_OPEN_API_KEY")
START_INDEX = 1
END_INDEX = 1000
STDR_YYQU_CD_LIST = [
    "20231",
    "20232",
    "20233",
    "20234",
    "20241",
    "20242",
    "20243",
    "20244",
    "20251",
    "20252",
    "20253",
]

output_dir = "../output"
output_file = "서울시_상권분석서비스_직장인구_행정동_2023_2025.csv"
output_path = os.path.join(output_dir, output_file)


header_mapping = {
    "STDR_YYQU_CD": "기준_년분기_코드",
    "ADSTRD_CD": "행정동_코드",
    "ADSTRD_CD_NM": "행정동_코드_명",
    "TOT_WRC_POPLTN_CO": "총_직장_인구_수",
    "ML_WRC_POPLTN_CO": "남성_직장_인구_수",
    "FML_WRC_POPLTN_CO": "여성_직장_인구_수",
    "AGRDE_10_WRC_POPLTN_CO": "연령대_10_직장_인구_수",
    "AGRDE_20_WRC_POPLTN_CO": "연령대_20_직장_인구_수",
    "AGRDE_30_WRC_POPLTN_CO": "연령대_30_직장_인구_수",
    "AGRDE_40_WRC_POPLTN_CO": "연령대_40_직장_인구_수",
    "AGRDE_50_WRC_POPLTN_CO": "연령대_50_직장_인구_수",
    "AGRDE_60_ABOVE_WRC_POPLTN_CO": "연령대_60_이상_직장_인구_수",
    "MAG_10_WRC_POPLTN_CO": "남성연령대_10_직장_인구_수",
    "MAG_20_WRC_POPLTN_CO": "남성연령대_20_직장_인구_수",
    "MAG_30_WRC_POPLTN_CO": "남성연령대_30_직장_인구_수",
    "MAG_40_WRC_POPLTN_CO": "남성연령대_40_직장_인구_수",
    "MAG_50_WRC_POPLTN_CO": "남성연령대_50_직장_인구_수",
    "MAG_60_ABOVE_WRC_POPLTN_CO": "남성연령대_60_이상_직장_인구_수",
    "FAG_10_WRC_POPLTN_CO": "여성연령대_10_직장_인구_수",
    "FAG_20_WRC_POPLTN_CO": "여성연령대_20_직장_인구_수",
    "FAG_30_WRC_POPLTN_CO": "여성연령대_30_직장_인구_수",
    "FAG_40_WRC_POPLTN_CO": "여성연령대_40_직장_인구_수",
    "FAG_50_WRC_POPLTN_CO": "여성연령대_50_직장_인구_수",
    "FAG_60_ABOVE_WRC_POPLTN_CO": "여성연령대_60_이상_직장_인구_수",
}

df = pd.DataFrame()


for stdr_yyqu_cd in STDR_YYQU_CD_LIST:
    request_url = f"http://openapi.seoul.go.kr:8088/{SEOUL_DATA_OPEN_API_KEY}/json/VwsmAdstrdWrcPopltnW/{START_INDEX}/{END_INDEX}/{stdr_yyqu_cd}"
    response = requests.get(request_url)
    data = response.json()
    result = data["VwsmAdstrdWrcPopltnW"]

    new_df = pd.DataFrame(result["row"])
    new_df = new_df.rename(columns=header_mapping)

    df = pd.concat([df, new_df], ignore_index=True)
    print("Downloaded: ", stdr_yyqu_cd)

df.to_csv(output_path, index=False)

Downloaded:  20231
Downloaded:  20232
Downloaded:  20233
Downloaded:  20234
Downloaded:  20241
Downloaded:  20242
Downloaded:  20243
Downloaded:  20244
Downloaded:  20251
Downloaded:  20252
Downloaded:  20253

In [2]:
import pandas as pd

file_path = "../output/서울시_상권분석서비스_직장인구_행정동_2023_2025.csv"

df = pd.read_csv(file_path)
display(df.head())

,기준_년분기_코드,행정동_코드,행정동_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,20231,11110515,청운효자동,6746.0,4377.0,2369.0,5.0,1236.0,1971.0,1894.0,...,1240.0,1409.0,869.0,319.0,5.0,696.0,731.0,485.0,326.0,126.0
1,20231,11110530,사직동,35094.0,21967.0,13127.0,14.0,4645.0,9916.0,10573.0,...,6096.0,7231.0,4857.0,1836.0,14.0,2698.0,3820.0,3342.0,2105.0,1148.0
2,20231,11110540,삼청동,4036.0,3332.0,704.0,0.0,481.0,1082.0,1272.0,...,836.0,1097.0,867.0,221.0,0.0,170.0,246.0,175.0,94.0,19.0
3,20231,11110550,부암동,1241.0,693.0,548.0,0.0,208.0,359.0,339.0,...,199.0,194.0,146.0,69.0,0.0,123.0,160.0,145.0,96.0,24.0
4,20231,11110560,평창동,14279.0,8020.0,6259.0,0.0,1761.0,3843.0,4697.0,...,1966.0,2776.0,1865.0,570.0,0.0,918.0,1877.0,1921.0,1241.0,302.0